block variables
    - var feedBackLink = './feedback.html'
    - var articleLink = './article.html'
    - var articlesLink = './articles.html'
    - var mainPageLink = './index.html'
    - var headerTitle = 'BlogName'
    -
        var articles = [
            { name: 'article one', date: 'Dec 7, 2021', link: articleLink, text: 'Some text', img: '//loremflickr.com/640/361' },
            { name: 'article two', date: 'Dec 8, 2021', link: articleLink, text: 'Some text', img: '//loremflickr.com/640/362' },
            { name: 'article three', date: 'Dec 9, 2021', link: articleLink, text: 'Some text', img: '//loremflickr.com/640/363' },
            { name: 'article four', date: 'Dec 10, 2021', link: articleLink, text: 'Some text', img: '//loremflickr.com/640/364' },
            { name: 'article five', date: 'Dec 10, 2021', link: articleLink, text: 'Some text', img: '//loremflickr.com/640/364' },
        ]

doctype html
html
    head
        title=title
        meta(charset="utf-8")
    body
        include ./header
        block content
        include ./footer
