ul.plugin-slider(data-auto-start="true" data-interval=3)
    li.plugin-slider-item
        img(src='//loremflickr.com/600/400?i=1')
    li.plugin-slider-item
        img(src='//loremflickr.com/600/400?i=2')
    li.plugin-slider-item
        img(src='//loremflickr.com/600/400?i=3')
    li.plugin-slider-item
        img(src='//loremflickr.com/600/400?i=4')
    li.plugin-slider-item
        img(src='//loremflickr.com/600/400?i=5')
    li.plugin-slider-prev &#10094;
    li.plugin-slider-next &#10095;
